<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="css/logo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"
    ></script>
    <style>
      .item{ transition: .5s ease-in-out; } .item:hover{ filter:brightness(80%)}
      .container-fluid{ margin-top:200px } .btn{ font-size: 2rem; padding:
      0.7rem 3rem; background: var(--orange); color: #fff; margin-top: 1rem;
      cursor: pointer; }

    </style>

    <title>Gallery</title>
  </head>
  <body>
    <header>
      <h1 class="heading"><a href="/" style="color: orange;">GO HOME</a></h1>
      <div id="menu" class="fas fa-bars"></div>

      <nav class="navbar">
        <ul style="width: 1227.2px">
          <li><a href="/">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/service">service</a></li>
          <li><a href="/contact">contact Us</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row mt-4">
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/1.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/1.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/2.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/2.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/3.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/3.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/4.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/4.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/7.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/7.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/8.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/8.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/9.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/9.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/10.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/10.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/11.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/11.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/12.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/12.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/14.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/14.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/15.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/15.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/16.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/16.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/17.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/17.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/18.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/18.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/19.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/19.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/20.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/20.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/21.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/21.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/22.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/22.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/23.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/23.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/24.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/24.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/25.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/25.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/27.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/27.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/28.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/28.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/29.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/29.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/30.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/30.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/31.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/31.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/32.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/32.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/34.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/34.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/36.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/36.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/37.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/37.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/38.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/38.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/40.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/40.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/41.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/41.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>
        <div class="item col-sm-6 col-md-4 mb-3">
          <a href="css/45.jpg" class="fancybox" data-fancybox="gallery1">
            <img src="css/45.jpg" width="100%" height="100%" alt="" />
          </a>
        </div>

      </div>
    </div>

    <div class="footer">

      <div class="box-container">

        <div class="box">
          <h3>why choose us?</h3>
          <p>To be a company committed to "ON TIME & ON BUDGET" delivery,
            guaranteed performance and offering end to end solution to our
            customer.</p>
          <a
            href="https://www.linkedin.com/company/tech-durga-engineering-kota/"
          ><button class="btn">LinkedIn</button></a>
        </div>

        <div class="box">
          <h3>quick links</h3>
          <a href="/">home</a>
          <a href="/about">about</a>
          <a href="/service">service</a>
          <a href="/contact">contact</a>
        </div>

        <div class="box">
          <h3>Shree Durga Steel Furniture</h3>
          <p>Visit for All Type of Almirah and Racks | MS Box (Electrical panels
            and Box) | SS Box | Specialised in Hostel, Hospital & School
            Furniture.</p>
          <a href="https://sdsfkota.com"><button class="btn">Visit</button></a>
        </div>

      </div>

      <h1 class="credit">
        created by
        <a href="https://www.linkedin.com/in/ajay-jangid-70620016a/">mr. ajay
          jangid</a>
        | all rights reserved.
      </h1>

    </div>

    <!-- jquery cdn link  -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>

    <script>
      $(document).ready(function(){ $('#menu').click(function(){
      $(this).toggleClass('fa-times'); $('.navbar').toggleClass('nav-toggle');
      }); $(window).on('load scroll',function(){
      $('#menu').removeClass('fa-times');
      $('.navbar').removeClass('nav-toggle'); }); });
    </script>
  </body>
</html>